# Webhook URLs from your n8n workflows or other services
NEXT_PUBLIC_N8N_AVAILABLE_TIMES_WEBHOOK_URL=
NEXT_PUBLIC_N8N_SCHEDULE_APPOINTMENT_WEBHOOK_URL=
N8N_PATIENT_SEARCH_WEBHOOK_URL=
N8N_CANCEL_APPOINTMENT_WEBHOOK_URL=
N8N_RESCHEDULE_APPOINTMENT_WEBHOOK_URL=
# Secret key for encrypting user sessions.
# Generate a long, random string for this (e.g., from a password generator)
SESSION_SECRET=
